<h1>Listing jobs</h1>
<body style="background:#F5EEBC;">
<table>
  <tr>
    <th>Number</th>
    <th>Site</th>
    <th>Address</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.Number %></td>
    <td><%= job.Site %></td>
    <td><%= job.Address %></td>
    <td><%= job.Description %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
