<body style="background:#F5EEBC;">
<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @job.Number %>
</p>

<p>
  <b>Site:</b>
  <%= @job.Site %>
</p>

<p>
  <b>Address:</b>
  <%= @job.Address %>
</p>

<p>
  <b>Description:</b>
  <%= @job.Description %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
